html, 
body {
  height: 100%;
  width: 100%;
  background-color:#f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
/*  font-family: "Montserrat", sans-serif; */
  margin: 0 0 20px 0;
  padding: 0;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 15vw;
  color: white;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.5vw;
}

p {
  font-size: 1.35vw;
}

a {
  text-decoration: none;
}

hr {
  color: #0000003b;
}

.lead {
  font-size: 1.5rem;
}

#splash-screen h1 {
  /* text-shadow: 2px 2px 1px black; */
}

#splash-screen p{
  margin: auto;
  color: white;
  text-shadow: 1px 1px 4px black;
  font-weight: 350;
}

#splash-screen a {
  color: rgb(255, 0, 45);
  font-weight: 400;
  text-shadow: 1px 1px 5px black;
}

#splash-screen a:hover {
  color: rgb(255, 112, 112);
  /*text-shadow: 1px 1px 10px black;*/
}

#socials a {
  color: rgb(255, 0, 45);
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
}

#socials a:hover {
  color: rgb(255, 112, 112);
  /*text-shadow: 1px 1px 10px black;*/
}

#socials p {
  font-size: 42px; 
  text-align: center;
  padding-bottom: 10px;
}

.menu-btn {
  border: 0px;
}

.menu-btn:focus {
  border: 0px;
  box-shadow: 0 0 0 0;
}

.menu-btn:hover {
  color: rgba(255,255,255,.75);
}

#splash-screen {
  background: linear-gradient(rgba(53, 0, 104, 0.5), rgba(132, 0, 255, 0.02)), url(images/bg_sunset_woods.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash-card{
  background-color: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cool-border {
	flex-shrink: 0;
	margin: 20px;
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
  box-shadow: 0 0 5px 5px #f9d423;
  border-radius: 1% 20%;
	background-image: var(--img-url), linear-gradient(to bottom left, #f83600, #f9d423);
}

#top-navbar{
  left: 0;
  width: 100vw;
  z-index: 2;
  background: var(--primary-color);
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

#about,
#projects,
#photography {
  padding-top: 60px;
}

#about p{
  font-size: 1.3vw;
  margin-top: auto;
  margin-bottom: auto;
}

#about a{
  font-size: 2.5vw;
  color: black;
}

.about-text{
  align-items: center; 
  display: flex;
}

.portrait {
  width: 85%;
  border-radius: 50%;
  margin: auto;
  display: block;
  padding: 3px;
}

.parallax {
  /* Set a specific height */
  min-height: 350px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 
    inset 0px 11px 8px -10px rgba(0, 0, 0, 0.5),
    inset 0px -11px 8px -10px rgba(0, 0, 0, 0.5); 
}

#projects p{
  margin-left: 20%;
  margin-right: 20%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;

}

.grid-item img{
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
  /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
}

.image div {
  background-color: rgba(0, 0, 0, 0.835); 
  padding: 20px;
}

.image h4 {
  margin: auto; 
  color: rgb(255, 255, 255); 
  text-align: center;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0;
}

.image-container:hover .middle {
  opacity: 1;
}

#photography p {
  margin-left: 20%;
  margin-right: 20%;
}

.text {
  padding: 10px 10px;
}

.text h3 {
  font-size: 1.8vw;
  margin-bottom: 1%;
}

.text span {
  font-size: 1.3vw;
  color: rgb(255, 0, 119);
}

.text p {
  font-size: 1.1vw;
}


/**************** Responsive ****************/

@media all and (max-device-width: 1239px) {
  body{
    font-size: 2.2rem;
  }

  .navbar-toggler{
    font-size: 3.25rem;
  }
  
  .parallax {
    background-attachment: scroll;
  }

  .grid-container {
    grid-template-columns: auto;
    padding: 0px;
  }

  h4 {
    font-size: 24px;
  }
  
  #splash-screen h1{
    margin-top: 20%;
  }

  #splash-screen p{
    font-size: 45px;
  }

  #socials a{
    font-size: 80px;
    padding: 5px;
    margin-bottom: 20px;
  }
  
  h2{
    font-size: 4rem;
  }

  #about, 
  #projects,
  #photography{
    padding-top: 100px;
  }

  #about p{
    text-align: justify; 
    text-justify: inter-word;
    font-size: 32px;
    padding: 20px;
  }

  #about a{
    font-size: 60px;
    padding: 5px;
  }

  #projects p {
    font-size: 30px;
  }

  .grid-container {
    grid-template-columns: auto;
    padding: 0px;
  }


  #about p{
    font-size: 30px;
    text-align: center;
  }

  .portrait{
    width: 50%;
    margin-right: auto;  
    margin-left: auto;
  }

  #photography p{
    font-size: 30px;
  }

  .text {
    padding: 10px 0px;
  }
  
  .text h3 {
    font-size: 6.8vw;
    margin-bottom: 2%;
  }
  
  .text span {
    font-size: 4.5vw;
  }
  
  .text p {
    font-size: 4vw;
  }

  footer p{
    font-size: 19px;
  }
}